body {
  color: #000;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

/*** TYPOGRAPHY ***/
h1 {
  padding-top: 1.25rem;
  font-size: 3.157rem;
}

h3 {
  font-size: 1.333rem;
}

h1, h3, p, figcaption {
  padding-bottom: 1.25rem;
  line-height: 150%;
}

.author {
  font-style: italic;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #3F3FBF;
}

/*** IMAGES ***/
.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

/*** NAV LAYOUT ***/
.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

/*** ARTICLE CONTENT ***/
article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}
